@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#shrine {
    background-image: url('./icon/Shrine of Remembrance (no label).png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#arts {
    background-image: url('./icon/Arts Centre Melbourne.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#etihad {
    background-image: url('./icon/Etihad Studium.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#eureka {
    background-image: url('./icon/Eureka Tower SkyDeck.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fed {
    background-image: url('./icon/Federation Square.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#flind {
    background-image: url('./icon/flinders street station (no label).png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#immi {
    background-image: url('./icon/Immigration Museum.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#dock {
    background-image: url('./icon/Library at the Dock.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#convention {
    background-image: url('./icon/Melbourne Convention and Exhibition Centre.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#museum {
    background-image: url('./icon/Melbourne Museum & IMAX Cinema.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#state {
    background-image: url('./icon/State Library of Victoria.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#star {
    background-image: url('./icon/Melbourne Star Observation Wheel.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#royal {
    background-image: url('./icon/Royal Exhibition Building.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#southern {
    background-image: url('./icon/Southern Cross Station.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#parli {
    background-image: url('./icon/Parliament House.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#sea {
    background-image: url('./icon/SEA LIFE Melbourne Aquarium.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#ngv {
    background-image: url('./icon/NGV Melbourne.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#st {
    background-image: url('./icon/St Puals Cathedral.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#old {
    background-image: url('./icon/Old Treasury Building.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.image {
    width:100px;
    height:100px;
}


.mapboxgl-popup {
    max-width: 200px;
}

#chart {
    width:300px;
    height:800px;
    margin-right:0;
    opacity: 1;
}

.fixedContainer {
    background-color:rgba(242, 240, 239, 0.5);

    position: fixed;
    padding: 2em;
    right: 2%;
    top: 10%;
    border: 5px solid #7aacc7;
    border-radius: 10px;
    /* transform: translateX(-50%); */
}

